<hr>
<div class="footer">
    <h1>The News Presenter</h1>
    <div class="row">
        <div class="col">
            <h2>Contacts</h2>
            <p><strong>Email:</strong>nereahhopebecky@gmail.com</p>
            <p><strong>Phone:</strong>+2540701964422</p>
            <p><strong>Telephone:</strong> 0705877662</p>
        </div>

        <div class="col">
            <h2>Subscribe</h2>
            <p>Covid-19</p>
            <p>Politics</p>
            <p>Music</p>
            <p>Culture</p>
        </div>
    </div>
</div>