<!DOCTYPE html>
<html lang="en">


<head>
    {% block styles%}
    {{ super()}}

    <link rel="stylesheet" href="{{url_for('static', filename = 'index.css')}}">
{%endblock%}

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    {% if title %}
    <title> {{ title}}</title>

    {%else%}
    <title> Welcome to the best News Source website </title>
    {% endif %}

</head>


<body>
    <h3> Found {{ tops | count }} </h3>
{% for top in tops%}
<h1>{{top.name}} </h1>
{%endfor%}




</body>

</html>