{% macro dispalyNewsList(news_list) %}
{% for new in news_list %}
<div class="row featurette">
    <div class="col-md-7 order-md-2">
        <h2 class="featurette-heading">
            {{ new.title | truncate(50)}}
        </h2>
        <p class="lead"> {{ new.description }} </p>
        <a href="{{new.url}}" class="btn btn-primary" target="_blank">Find out more &raquo;</a>
    </div>
    <div class="col-md-5 order-md-1">
       <img src="{{ new.urlToImage }}" width="500" height="500" class="bd-placeholder-img-lg featurette-image img-fluid mx-auto" >
    </div>
</div>
<hr class="featurette-divider">

{% endfor %}
{% endmacro %}
