{% extends 'base.html'%}
<!-- Content block -->
{% block content %}
{% import 'macros.html' as macro%}
<div class="container">

    <!-- Poster background -->
    <div class="row">
        <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 posterPath" style="background: url({{news.poster}}) no-repeat center center">
        </div>

        <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 movie-details">
            <h3>{{ news.title }}</h3>

            <p class="overview"> {{ news.overview }}</p>
            <p class="ratings"> <b> {{ news.vote_average }}</b> - <i>{{ news.vote_count}} votes </i> </p>


        </div>
    </div>
    <div class="row">

        <h1>Reviews</h1>
        <hr>

        {% if reviews %}
            {{macro.displayReviews(reviews)}}

        {% else%}
            <h3 class="text-center">This news has no reviews </h3>

            <a class="btn btn-success btn-lg text-center" href="/news/review/new/{{news.id}}"> Write a new review</a>
        {% endif %}

    </div>

</div>

{% endblock %}